<%= form_with scope: :task, local: true do |form| %>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>
<%= link_to 'go back', tasks_path %>
