<h1>Edit Sub Task</h1>

<%= form_with(model: [ @task, @sub_task ], local: true) do |form| %>
  <p>
    <%= form.text_area :text %>
  </p>
  <p>
    Complete <%= form.check_box :complete %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'go back', task_sub_task_path(@task, @sub_task) %>